apiVersion: v1
kind: Service
metadata:
  name: mysql-service
spec:
  ports:
    - protocol: TCP
      port: 3306
      targetPort: 3306
  selector:
    app: mysql
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: mysql-deployment
spec:
  selector:
    matchLabels:
      app: mysql
  template:
    metadata:
      labels:
        app: mysql
    spec:
      containers:
      - name: mysql-db
        image: mysql:8.0
        # env:
        # - name: MYSQL_ROOT_PASSWORD
        #   value: "root"
        # - name: MYSQL_DATABASE
        #   value: "ecommerce"
        # - name: MYSQL_USER
        #   value: "user"
        # - name: MYSQL_PASSWORD
        #   value: "password"
        envFrom:
        - secretRef:
            name: mysql-passwords
        ports:
        - containerPort: 3306
        volumeMounts:
        - name: init-scripts
          mountPath: /docker-entrypoint-initdb.d
      volumes:
      - name: init-scripts
        configMap:
          name: mysql-init-config