apiVersion: v1
kind: Service
metadata:
  name: notifications-service
spec:
  type: LoadBalancer
  selector:
    app: notifications
  ports:
    - port: 8080
      targetPort: 8080
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: notifications-deployment # <--- Este nombre debe coincidir
spec:
  selector:
    matchLabels:
      app: notifications
  template:
    metadata:
      labels:
        app: notifications
    spec:
      containers:
      - name: notifications
        image: crmicroserv.azurecr.io/notification-service:latest
        ports:
        - containerPort: 8080
        resources:
          requests:
            memory: "300Mi"
            # cpu: "100m"
          limits:
            memory: "500Mi"
---
apiVersion: autoscaling/v2
kind: HorizontalPodAutoscaler
metadata:
  name: notifications-hpa
spec:
  scaleTargetRef:
    apiVersion: apps/v1
    kind: Deployment
    name: notifications-deployment
  minReplicas: 1
  maxReplicas: 3
  metrics:
  - type: Resource
    resource:
      name: memory
      target:
        type: Utilization
        averageUtilization: 80