apiVersion: v1
kind: Service
metadata:
  name: notifications-service
spec:
  type: ClusterIP # Cambia a LoadBalancer si quieres exponerlo externamente
  selector:
    app: notifications
  ports:
    - port: 8080
      targetPort: 8080
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: notifications-deployment
spec:
  replicas: 2
  selector:
    matchLabels:
      app: notifications
  template:
    metadata:
      labels:
        app: notifications
    spec:
      containers:
      - name: notifications
        image: crmicroserv.azurecr.io/notification-service:latest # Reemplaza con tu imagen
        ports:
        - containerPort: 8080